.button {
  display: inline-block;
  margin: 10px;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #eee;
  border-radius: 15px;
  font-family: "Roboto";
  text-decoration: none;
  color: #eee;
}
.button:hover {
  background-color: #eee;
  color: #000;
}
.mark {
  color: #9b9b9b;
  margin: 0;
  margin-top: 25px;
  bottom: 0;
  font-family: "Roboto";
}

.mark a {
  color: #bbbbbb;
  text-decoration: none;
  font-family: "Fredoka One";
}

@media only screen and (max-width: 1280px) {
  .button {
    padding: 10px 15px;
    margin-top: 5px;
  }
  .mark {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .button {
    font-size: 16px;
    margin-top: 10px;
  }
  .mark {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .button {
    font-size: 16px;
    margin-top: 10px;
  }
  .mark {
    margin-top: 20px;
  }
}
