.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card {
  top: 20px;
  left: 20px;
  text-align: center;
  z-index: 1;
  height: 275px;
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

.helpToggle {
  position: absolute;
  right: 21px;
  top: 18px;
  color: #eee;
  font-size: 27px;
  cursor: pointer;
}

.menuToggle {
  position: absolute;
  top: 16px;
  left: 12px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 25%;
  cursor: pointer;
  width: 38px;
}

@media only screen and (max-width: 1280px) {
  .card {
    width: 450px;
    height: 250px;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
  }
  /* .menuToggle {
    width: 38px;
    top: 19px;
    left: 12px;
  } */
}
@media only screen and (max-width: 450px) {
  .card {
    height: 100%;
  }
}
