.title {
  color: #eee;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-top: 20px;
}

.body {
  color: #eee;
  font-size: 1em;
  font-weight: 200;
  font-family: "Roboto";
  margin-top: 20px;
  margin-bottom: 10px;
}

.body p {
  margin-bottom: 10px;
}

.listContainer {
  margin: 0;
  margin-top: 35px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.listContainer li a {
  color: #eee;
  font-size: 3em;
}

@media only screen and (max-width: 1400px) {
  .title {
    font-size: 1.5em;
  }

  .body {
    font-size: 1em;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .title {
    font-size: 1.3em;
    margin-top: 10px;
  }
  .body {
    font-size: 1em;
    margin-top: 15px;
  }
  .listContainer {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 900px) {
  .listContainer {
    margin-top: 35px;
    padding: 0 120px;
  }
}
@media only screen and (max-width: 750px) {
  .listContainer {
    margin-top: 35px;
    padding: 0 50px;
  }
}
@media only screen and (max-width: 598px) {
  .listContainer {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 480px) {
  .listContainer {
    padding: 0;
  }
}
@media only screen and (max-width: 450px) {
  .title {
    margin-top: 150px;
  }
}
@media only screen and (max-width: 330px) {
  .listContainer {
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }
  .listContainer li {
    margin: 10px;
  }
  .patreon {
    order: -1;
  }
}
