.errorContainer {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #333;
  position: absolute;
  font-size: 1.3em;
}

.errorContainer h2 {
  font-size: 2rem;
  letter-spacing: 1px;
}

.errorContainer h2 a {
  text-decoration: none;
  color: #333;
}
.errorContainer h2 a:hover {
  text-decoration: underline;
}

.errorContainer p {
  letter-spacing: 1px;
}

.errorContainer button {
  font-family: "Roboto";
  font-size: 1em;
  background-color: #333;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  color: #eee;
  cursor: pointer;
}
.errorContainer button:hover {
  background-color: #bbb;
  color: #333;
}

@media only screen and (max-width: 1280px) {
  .errorContainer {
    font-size: 1em;
  }
  .errorContainer h2 {
    font-size: 1.8em;
  }
  .errorContainer button {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 480px) {
  .errorContainer {
    font-size: 14px;
  }
  .errorContainer h2 {
    font-size: 24px;
  }
  .errorContainer button {
    font-size: 14px;
  }
}
