.vdContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
@keyframes fade {
  0% {
    opacity: 0;
    scale: 50%;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 150%;
  }
}
@media only screen and (max-width: 450px) {
  .video {
    height: auto;
  }
}
