.loaderContainer {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #333;
}
.loader {
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.loaderContainer h2 {
  font-size: 1.2em;
}

.loaderContainer p {
  font-size: 1em;
}
