* {
  outline: none;
  overflow: hidden;
}

div,
span,
body,
h1,
h2,
h3,
a,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img,
svg {
  display: block;
}

/* @font-face {
  font-family: FredokaOne-Regular;
  src: url(./assets/FredokaOne-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/Roboto-Regular.ttf);
  font-display: swap;
} */

body {
  background: #0e0e0e;
  background-image: url("./assets/bg-text.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  font-family: "Fredoka One";
}
